# File managed by Ansible
[Unit]
Description=Kickoff Minikube Cluster
After=docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/minikube start \
	--driver=docker
	--cpus=2
	--memory=4g
	--addons=ingress
	--wait=true
RemainAfterExit=true
ExecStop=/usr/local/bin/minikube stop
StandardOutput=journal
User=kube
Group=kube

[Install]
WantedBy=multi-user.target
