# File managed by Ansible
# Calico is chosen as network plugin cause it supports network policies which are tested in CKAD
[Unit]
Description=Kickoff Minikube Cluster
After=docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/minikube start \
	--network-plugin=cni \
	--cni=calico \
	--driver=docker \
	--cpus=2 \
	--memory=4g \
	--addons=ingress \
	--wait=true
RemainAfterExit=true
ExecStop=/usr/local/bin/minikube stop
StandardOutput=journal
User=kube
Group=kube

[Install]
WantedBy=multi-user.target
